.navbar{
	margin-bottom: 0 !important;
	height:141px;
}
.menuBackground{
	/*padding: 50px;*/
	background-color: #F8F7F4 !important;
}
.logo{
	margin-top:21px !important;
}
.mTech {
	font-size: 40px !important;
	font-family: Hiragino Sans, 'Trirong';
	font-style: italic;
	font-weight:bold;
	color: #57572A !important;
	float:left;
	margin-bottom:15px;
}

.USA{
	color: #57572A !important;
	font-size: 16px		

}
.menu {
	float:right;
	font-size: 15px !important;*/
	font-family: Hiragino Sans, 'Trirong';
	margin-top:43.5px !important;
} 
.menuItem, .footerMenuItem{
	height: 14px;
	color: #144354 !important;
	width: auto !important;
	/*background-color: red;*/
}
.menuItem:hover, footerMenuItem:hover{
	text-decoration: underline !important;
	background-color: transparent !important;
}


/* MAIN CONTENT */
.mainContent{
	padding:0px !important;
	margin: 0px !important;
}

.background{
	/*background-image: url("images/background.png") !important;*/
	background: url("../Images/background.png") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	height: 320pt !important;
}
.textOnMainImage{

	color: #0D6096;
	font-size: 30px;
	/*margin: 125px 0px 0px 225px;*/
}
.btn-primary{
	/*margin: 100px 0px 0px 500px !important;*/
	margin: auto !important;
}
.content{
	font-size: 20px;
	margin-left: 0px !important;
	margin-right: 0px !important;
	
	padding-top: 20pt;
	width: 50% ;
}

.footer{

	background-color: #57572A !important; 
	height: 55px !important
}

.footNote{
	color: white; 
	margin-left: 30px; 
	vertical-align: middle;
	line-height: 55px;
	float: left;
}

.footerMenu{
	float: right;
}

.footerMenuItem:hover{
	background-color: transparent !important;
}
.footerMenuItem{
	color: white !important;
}
